html, body, menu, ul, ol, li, p, div, form, h1, h2, h3, h4, h5, h6, img, a img, input, button, textarea {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Helvetica, Arial;
}

.ibox-header {
    background-image: url("images/head-bg.jpg");
    background-size: 100% 100%;
}

.ibox-body {
    background: url("images/view-bg.png") repeat;
    background-size: 100% auto;
}

.ibox-header .button {
    -webkit-border-image: url("images/button.png") 0 5 30 5;
}

.ibox-header .button.highlighted {
    -webkit-border-image: url("images/button.png") 30 5 0 5;
}

.ibox-header .button.back {
    -webkit-border-image: url("images/button-back.png") 0 4 30 12;
}

.ibox-header .button.back.highlighted {
    -webkit-border-image: url("images/button-back.png") 30 4 0 12;
}

.note-main {
    background: url("images/view-top.png") no-repeat center top, url("images/view-bottom.png") no-repeat center bottom, url("images/view-bg.png") repeat-y center 13px;
    background-size: 100% auto, 100% auto, 100% auto;
    overflow: hidden;
}

.note-main ul {
    list-style: none;
}

.note-main li {
    position: relative;
    border-bottom: 1px solid #c3c8b3;
    height: 45px;
    font-size: 17px;
    line-height: 45px;
    padding: 0 10px;
}

.note-main li.highlighted {
    background-color: #fef6b3;
}

.note-main li > .ct {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.note-main li > .ct em {
    display: block;
    width: 78%;
    overflow: hidden;
    font-style: normal;
    color: #ae5d3d;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-main li > .ct span {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 12px;
    color: #6c7c83;
    opacity: 1;
    -webkit-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    transition: opacity 200ms;
}

.note-main li > .ct i {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 45px;
    background: url("images/next.png") no-repeat center;
    opacity: 1;
    -webkit-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    transition: opacity 200ms;
}

.note-main li > .btn {
    position: absolute;
    right: -66px;
    top: -2px;
    width: 65px;
    -webkit-transition: right 200ms;
    -ms-transition: right 200ms;
    transition: right 200ms;
}

.note-main li.delete > .btn {
    right: 10px;
}

.note-main li.delete > .ct span {
    opacity: 0;
}

.note-main li.delete > .ct i {
    opacity: 0;
}

.note-main li > .btn button {
    position: relative;
    left: 10px;
    top: 0;
    padding: 0 4px;
    -webkit-border-image: url("images/button-red.png") 0 5 30 5;
    border-width: 0 5px 0 5px;
    height: 30px;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    font: bold 12px Helvetica;
    color: #ffffff;
    line-height: 29px;
    text-shadow: rgba(0,0,0,.6) 0 -1px 0;
    text-align: center;
}

.note-main .empty {
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #a51912;
}

.note-edit {
    background: url("images/view-top-edit.png") no-repeat center top, url("images/view-bottom-edit.png") no-repeat center bottom, url("images/view-bg-edit.png") repeat-y center 13px;
    background-size: 100% auto, 100% auto, 100% auto;
}

.note-edit .create {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #9c0101;
}

.note-edit .now {
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 12px;
    color: #9c0101;
}

.note-edit textarea {
    position: absolute;
    top: 35px;
    left: 27px;
    width: 280px;
    height: 400px;
    resize: none;
    border-width: 0;
    background: url("images/view-bg.png") repeat;
    background-size: 100% auto;
    font-size: 16px;
    line-height: 25px;
}

.install {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: url("images/view-bg.png") repeat;
    background-size: 100% auto;
    text-align: center;
}

.install img {
    position: relative;
    opacity: 0;
    top: 0;
    left: 0;
    width: 114px;
    height: 114px;
}

.install h2 {
    position: absolute;
    opacity: 0;
    top: 222px;
    width: 100%;
    font-family: HelveticaNeue-Light, Helvetica;
    font-weight: normal;
    color: #636363;
    font-size: 14px;
    text-align: center;
}

.install h2 strong {
    font-family: HelveticaNeue, Helvetica;
    font-weight: bold;
    color: #3d3d3d;
}